html {
    margin: 0;
    padding: 0;
    background-color: #FF0055;
    color:white;
}

h1{
    text-align: center;
    font-size: 70px;

}
nav{
    margin-top: -20px;
    display: flex;
    justify-content: center;
    /* border: blue,10px,solid; */
}
nav ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;/*removed dot from list*/


}
nav li{
    font-size: 20px;

    /* border: 10px,black,solid; */
}
nav li:hover{
    background-color: white;
    color:#FF0055;
}
li{
    padding: 20px;

}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: #FF0055;
}

.logo{

    width: 100px;
    height: 100px;
    /* border: black,10px,solid; */
}
.logoBox{
    /* border: black,10px,solid; */
    display: flex;
    justify-content: center;
     align-items: center;
}


/*Signup form*/
.title{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.userOutput{
    font-size: 30px;
}



.title{
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: #FF0055;
}
.main{
        display:inline-flex;

        width: 100%;
        height: 50%;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: #FF0055;

}

.picture{
        width: 150px;
        height: 150px;
        border: 2px,solid black;
        overflow: hidden;
        background-color: black;


}
.picture img{
        height: 100%;
        width: 100%;
        object-fit: contain;

}
.words{
        display: flex;
        flex-direction: column;
        align-items: center;      /* horizontal centering */
        justify-content: center;  /* vertical centering */
        text-align: center;

        height: 150px;
}
.space{
        width: 50px;
}



.Announcements{
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        /*border: blue, 10px, solid;*/
        display: flex; /*this must be here before the center*/
        justify-content: center;/*Center the main div */

}
.imageLeft{
        border: black, 5px, solid;

}

.description{
        padding: 10px;
        border: black, 5px, solid;
        text-align: center;
        background-color: #FF0055;
        color: white;
}

.containerBox{

        padding: 20px;
        display: flex;
        background-image: url(./pictures/src_gym_image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border: black,10px,solid;
}

.childBox{
        font-size: 40px;
        width: 50%;
    float: left;
    padding: 20px;
    color:black;
}